header{
    color: #f1e0bf; font-size: 13pt; 
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Times New Roman', serif;
 }
 
 h2{
     color: #245d20;
     font-family:  'Times New Roman', serif;
     text-shadow: 1px 1px #CCCCCC;
 }
 
 h3{
     color:  #003314;
     font-family: Georgia, 'Times New Roman', serif;
 
 }

nav{display: none;}
body{
    background-color: #eaeaea;
    color: #632929;
    font-family: Arial, Helvetica, sans-serif;

}
#main{
    background-color:#f1edb9;
    background-image: linear-gradient(to bottom, #FFFFFF, #e3dca1);
  }
#contact{
    font-size: 85%;
}
#text{
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.visit{
    color: #218e2f;
    font-weight: bold;
}
#countrysn{
    height: 300px;
    background-image: url(countrypic.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-top: 1em;
}
img {max-width: 100%;
    height: auto;
}
#dakarsn{
    height: 300px;
    background-clip: url(Dakar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 1em;
}

footer { text-align: center;
    font-style: italic;
    font-size: 70%;
    padding: 2em;
    font-family:'Courier New', Courier, monospace;
    background-color: #c4c3b2;
}
main{background-color: #dfddcf;
    padding: 1px 20px 20px 30px;
    display: block;
    overflow: auto;
}
@media (min-width: 500px){
    section { margin-left: 1em;
              margin-right: 1em;
              flex: 1;
    }
    .flow { display: flex;
        flex-direction: row;}
}

@media(min-width: 1024px){
    #main{ margin: auto;
              width: 80%;
              border: 1px solid #0c5a13;
              box-shadow: 3px 3px 3px #0c5a13;
    }
    @supports (display: grid){
        .sn {grid-area: sn;}
        header {grid-area: header;}
        main {grid-area: main;}
        footer {grid-area: footer;}
        #main { display: grid;
                    }
    }
}
table { margin: auto; 
    border: 2px solid #8f915e; 
    border-collapse: collapse;
    width: 600px; 
    background-color: #f8f8f7;
}

td{
    padding: 0.5em; 
    border: 2px solid #8f915e; 
  
}
th{
    background-color: #f0eec9;
    padding: 0.5em; 
    border: 2px solid;
    border: #FFFFFF;
}
td{
    text-align: center;
}
.text{
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    }
input, textarea {
    margin-bottom: 0.5em;
            }

@supports (display: grid) {
form { display: grid;
       grid-template-columns: 6em 1fr;
       gap: 1em;
       max-width: 30em;
       width: 60%;
    }
}